  <header class="page-header">
    <h1>Store Stats</h1>
  </header>

  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="1"> Total Categories</th>
          <th>Total Listed Products</th>
        </tr>
      </thead>
      <tbody>
      <tr>
      <td><%= @category_count %></td>
      <td><%= @products_count %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <%= link_to "Product Inventory", "/admin/products", class: 'btn btn-lg btn-info' %>


